JWT_SECRET=
MONGO_URI=
MONGO_TRANSACTIONS=false
SPACES_KEY=
SPACES_SECRET=
GMAIL_USER=
GMAIL_APP_PASSWORD=
SUPPORT_NOTIFY_EMAIL=
GOOGLE_WEB_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_SYNC_REDIRECT_URI=
WEB_GOOGLE_SYNC_CALLBACK_URL=
MICROSOFT_CLIENT_ID=
MICROSOFT_CLIENT_SECRET=
MICROSOFT_SYNC_REDIRECT_URI=
WEB_MICROSOFT_SYNC_CALLBACK_URL=
LINKEDIN_CLIENT_ID=
LINKEDIN_CLIENT_SECRET=
LINKEDIN_REDIRECT_URI=
APP_OAUTH_CALLBACK_SCHEME=
WEB_OAUTH_CALLBACK_URL=
